# macOS
.DS_Store

# Swift Package Manager
.build/
Packages/
.swiftpm/

# Xcode
*.xcodeproj/xcuserdata/
*.xcodeproj/project.xcworkspace/xcuserdata/
xcuserdata/
DerivedData/

# VS Code
.vscode/

# Temporary files
*.tmp
*.swp

# Network credentials
.netrc
